<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myenglish.word.IEetymologyDao">
    <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="Eetymologys" type="myenglish.word.po.Eetymology">
        <id column="word" property="word" />
        <result column="eetymology" property="eetymology" />
    </resultMap>
    
	<select id="getEetymologyByWord" parameterType="String"
		resultType="Eetymologys">
		SELECT * FROM eetymology WHERE word LIKE '#{word}(%)'
	</select>
</mapper>